<custom-form (voltar)="onVoltarClick()" (salvar)="onSalvarClick()" [canSave]="form.valid" [loading]="loading()">
  <form [formGroup]="form" novalidate>
    <div class="grid grid-cols-6 gap-4">
      <mat-form-field class="col-span-full">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" toUppercase>
        @if (form.controls['nome'].hasError('required')) {
          <mat-error>Nome é <strong>requerido</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-span-full">
        <mat-label>Sigla</mat-label>
        <input matInput formControlName="sigla" toUppercase>
        @if (form.controls['sigla'].hasError('required')) {
          <mat-error>Sigla é <strong>requerido</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-span-full">
        <mat-label>Observação</mat-label>
        <textarea matInput formControlName="obs"></textarea>
      </mat-form-field>

      @if(modoEditar()) {
        <mat-form-field class="col-span-full sm:col-span-4 md:col-span-2" >
          <mat-label>Situação</mat-label>
          <mat-select formControlName="ativo" >
            <mat-select-trigger [class.texto-red]="form.get('ativo')?.value === false">
              {{ form.get('ativo')?.value ? 'DISPONÍVEL' : 'INDISPONÍVEL' }}
            </mat-select-trigger>
            <mat-option [value]="true">DISPONÍVEL</mat-option>
            <mat-option [value]="false" class="texto-red">INDISPONÍVEL</mat-option>
          </mat-select>
        </mat-form-field>
      }
    </div>  
  </form>
</custom-form>
