<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title() }}</mat-card-title>
  </mat-card-header>

  <loading-bar [visible]="loading()"/>

  <mat-card-content>
    <div class="grid grid-cols-2 gap-x-4 w-full">
      <div class="grid grid-cols-3 gap-x-4 w-full">
        <mat-form-field class="md:col-span-3" >
          <mat-label>Conta</mat-label>
          <mat-select [value]="idConta()" (selectionChange)="idConta.set($event.value)" >
            @for(item of contas(); track item.id) {
              <mat-option [value]="item.id">{{ item.codigo }} - {{ item.nome }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Date Range -->
        <mat-form-field class="col-span-2">
          <mat-label>Período</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [value]="dataInicial()" (dateChange)="$event.value && dataInicial.set($event.value)">
            <input matEndDate [value]="dataFinal()" (dateChange)="$event.value && dataFinal.set($event.value)">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="grid grid-cols-3 gap-x-4 w-full">
        <mat-form-field floatLabel="always" class="col-span-1">
          <mat-label>Saldo Anterior</mat-label>
          <input matInput type="text" class="text-right font-bold!" [value]="dataSource.saldoAnterior()?.toString()" 
          [class]="saldoAnterior() | valorDC: 'DC'"
          [value]="saldoAnterior() | valorDC" readonly />
        </mat-form-field>

        <mat-form-field floatLabel="always" class="col-span-1">
          <mat-label>Saldo Atual</mat-label>
          <input matInput type="text" class="text-right font-bold!" 
          [class]="saldoAtual() | valorDC: 'DC'"
          [value]="saldoAtual() | valorDC" readonly />
        </mat-form-field>

        <mat-form-field floatLabel="always" class="col-span-1">
          <mat-label>Saldo Projetado</mat-label>
          <input matInput type="text" class="text-right font-bold!" 
          [class]="saldoProjetado() | valorDC: 'DC'"
          [value]="saldoProjetado() | valorDC" readonly />
        </mat-form-field>

        <mat-form-field floatLabel="always" class="col-span-1">
          <mat-label>Crédito</mat-label>
          <input matInput type="text" class="text-right font-bold! text-blue-600!" 
          [value]="saldoCredito() | valorDC" readonly />
        </mat-form-field>

        <mat-form-field floatLabel="always" class="col-span-1">
          <mat-label>Débito</mat-label>
          <input matInput type="text" class="text-right font-bold!" [class]="saldoDebito() | valorDC: 'D'" [value]="saldoDebito() | valorDC" readonly />
        </mat-form-field>
      </div>
    </div>

    <div class="w-full overflow-x-auto">
      <table mat-table [dataSource]="dataSource" matSort 
        (matSortChange)="handleSortEvent($event)"
        [matSortActive]="route.snapshot.queryParams['sort']"
        [matSortDirection]="route.snapshot.queryParams['dir'] || 'asc'"
        class="[--mat-table-row-item-container-height:40px] w-full "
      >
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>Ord.</th>
          <td mat-cell *matCellDef="let row; let i = index" class="!text-right" >
            {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="situacaoMovimento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap ">Sit.</th>
          <td mat-cell *matCellDef="let row" class="text-center! font-semibold!"
            [class]="getSituacaoClasses(row.situacaoMovimento)">{{ row.situacaoMovimento }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">Centro de Custos</th>
          <td mat-cell *matCellDef="let row" class="max-w-[150px] truncate px-2">{{ row.unidade.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="pessoal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Favorecido</th>
          <td mat-cell *matCellDef="let row" class="max-w-[250px] truncate px-2">{{ row.pessoal.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="evento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
          <td mat-cell *matCellDef="let row" class="max-w-[250px] truncate px-2">{{ row.evento.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="dataVencimento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">Dt. Venc.</th>
          <td mat-cell *matCellDef="let row" class="!text-right "
            [class]="getDataVencimentoClass(row)"
          >{{ row.dataVencimento | date: 'dd/LL/yyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="dataBaixa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">Dt. Liq.</th>
          <td mat-cell *matCellDef="let row" class="!text-right "
            [class]="getDataBaixaClass(row)"
          >{{ row.dataBaixa | date: 'dd/LL/yyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="competencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Compet.</th>
          <td mat-cell *matCellDef="let row" class="!text-right ">{{ row.competencia }}</td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
          <td mat-cell *matCellDef="let row" class="!text-right whitespace-nowrap !font-medium"
          [class]="row.valor | valorDC:'DC'"
          >{{ row.valor | valorDC }}</td>
        </ng-container>

        <ng-container matColumnDef="dataEntregou">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="whitespace-nowrap">Dt. Entreg..</th>
          <td mat-cell *matCellDef="let row" class="!text-right ">{{ row.dataEntregou | date: 'dd/LL/yyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
          <td mat-cell *matCellDef="let row" class="!text-right">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="col-acoes"></th>
          <td mat-cell *matCellDef="let row" class="col-acoes">
            <button mat-icon-button (click)="editar.emit(row)" [disabled]="loading()">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.row-indisponivel]="row.ativo !== undefined && !row.ativo"
        ></tr>
      </table>
    </div>
    
    <div class="flex flex-col sm:flex-row items-center justify-between p-2 gap-4 bg-surface" style="background-color: var(--mat-sys-surface, blue);">
      <button mat-flat-button (click)="novo.emit()" [disabled]="loading()">Novo Registro</button>
      <mat-paginator 
        [length]="dataSource.filteredData().length"
        [pageIndex]="route.snapshot.queryParams['page'] || 0"
        [pageSize]="route.snapshot.queryParams['size'] || 100"
        [pageSizeOptions]="[100, 250, 1000]" 
        (page)="handlePageEvent($event)"
        #paginator
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
