<div class="grid-container">
  <h1 class="text-3xl font-bold">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="200px">
    @for(item of counts; track item.title) {
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>{{ item.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            @if(dashboard.isLoading()) {
              <div>Carregando..</div>  
            } @else if(dashboard.error()) {
              <div>ERRO!</div>
            } @else {
              <div>{{ dashboard.value()?.[item.field]?.toString() }}</div>
            }
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
